<div class="container" style="background: white;height: 100%">
  <div class="jumbotron jumbotron-wrapper">

    <div class="jumbotron-wrapper-header">
      CASINO APP
    </div>

    <div class="jumbotron-wrapper-body">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto jumbotron-navbar" style="margin: auto">

            <li class="nav-item active">
              <LinkTo @route="games" @class="menu-about">Games</LinkTo>
            </li>
            <li class="nav-item active">
              <LinkTo @route="categories" @class="menu-about">Categories</LinkTo>
            </li>
            <li class="nav-item active">
              <LinkTo @route="types" @class="menu-about">Types</LinkTo>
            </li>
            <li class="nav-item active">
              <LinkTo @route="providers" @class="menu-about">Providers</LinkTo>
            </li>
          </ul>
        </div>
      </nav>

      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-md-8" id="navbarSupportedContent" style="margin: auto">

          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>

            <div class="col-md-5">
              <label for="select"></label>
              <select class="selectpicker" id="select" multiple data-live-search="true">
                <option selected>All categories</option>
                <option>Ketchup</option>
                <option>Relish</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div style="overflow: auto; height: 100%">
        {{outlet}}
      </div>

    </div>
  </div>
</div>